<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="infosecQuiz.Properties.Settings.coursework_dbConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=coursework_db;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="infosecQuiz.Properties.Settings.coursework_dbConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\coursework_db.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>